<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    

    <link rel="stylesheet" href="dashboard.css">
    <title>Dashboard</title>
    </head>

    <body>

        <div class="main-container">
           
            <div class="side-bar " >

                <div class="navbar " id="sidenav-collapse-main">
                  
                  <ul class="navbar-nav">
                    <li class="nav-item-logo">
                      
                        <img src="logo-whitebg.png" width="185"  >
                      
                    </li>
                    <br> 
                    <li class="nav-item">
                      <a class="nav-link  " href="/userDashboard/profile">
                        
                        <span class="">Profile</span>
                      </a>
                    </li>

                    <li class="nav-item active-nav-item">
                      <a class="nav-link " href="/userDashboard/Businesses">
                        
                        <span class="">Businesses</span>
                      </a>
                    </li>
                    <!-- AM edit -->
                 

                    <li class="nav-item">
                      <a class="nav-link  " href="/userDashboard/users">
                        
                        <span class="">Users</span>
                      </a>
                    </li>

                                       
                  </ul>
                  </div>
            </div>
            <div class="secondary-container">
                <div class="top-bar">
                    
                    <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
                    <p class="text-username">Admin</p>
                </div>
                <h1>All Businessers</h1>
                <br>
                          <div class="table-area">
                   
                        <div class="table-container">
                            <div class="table-card-header">
                                <h3 class="">Businessers Details</h3>
                              
                            </div>
                            <div class="card-body px-0 pb-2">
                                <table class="table">
                                  <thead class="table-header">
                                    <tr>
                                      <th class="table-header-column" style="width:10%">Business ID</th>
                                      <th class="table-header-column" style="text-align: center;">Name</th>
                                      <th class="table-header-column" style="text-align: center;">Item Type</th>
                                      <th class="table-header-column" style="text-align: center;">Status</th>
                                      <!-- <th class="table-header-column" style="text-align: center;">Completion</th> -->
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                    <tr class="row">
                                          <td>
                                            <div class="d-flex px-2">
                                              Malidu
                                            </div>
                                          </td>
                                          <td class="comp">
                                            <p>$2,500</p>
                                          </td>
                                
                                        <td class="comp">
                                          <span>gas</span>
                                        </td>
                                          <td class="comp">
                                            <span >Active</span>
                                          </td>
                                          <!-- <td class="comp">
                                            <p>60%</p>
                                          </td> -->
                                        
                                      <td class="align-middle">
                                        <!-- <button class="btn btn-link text-secondary mb-0">
                                          <i class="fa fa-ellipsis-v text-xs"></i> -->
                                       <button class="dlt"> Delete Business </button>
                                        
                                      </td>
                                    </tr>
                              


                                    <tr class="row">
                                        <td>
                                          <div class="d-flex px-2">
                                            disith
                                          </div>
                                        </td>
                                        <td class="comp">
                                          <p>$2,500</p>
                                        </td>
                                        <td class="comp">
                                          <span>fuel</span>
                                        </td>
                                        <td class="comp">
                                          <span>Active</span>
                                        </td>
                                        <!-- <td class="comp"> 
                                          <p>60%</p>
                                        </td>-->
                                        <td class="align-middle">
                                          
                                          <!-- <button class="btn btn-link text-secondary mb-0">
                                            <i class="fa fa-ellipsis-v text-xs"></i> 
                                          </button> -->
                                          <button class="dlt"> Delete Business </button>
                                          
                                        </td>
                                      </tr>
                                      <tr class="row">
                                        <td>
                                          <div class="d-flex px-2">
                                            malith
                                          </div>
                                        </td>
                                        <td class="comp">
                                          <p>$2,500</p>
                                        </td>
                                        <td class="comp">
                                          <span>suger</span>
                                        </td>
                                        <td class="comp">
                                          <span>Active</span>
                                        </td>
                                        <!-- <td class="comp"> 
                                          <p>60%</p>
                                        </td>-->
                                        <td class="align-middle">
                                          <!-- <button class="btn btn-link text-secondary mb-0">
                                            <i class="fa fa-ellipsis-v text-xs"></i>
                                          </button> -->
                                          <button class="dlt"> Delete Business </button>
                                        </td>
                                      </tr>
                                      <tr class="row">
                                        
                                        <td>
                                          <div class="d-flex px-2">
                                            ashi
                                          </div>
                                        </td>
                                        <td class="comp">
                                          <p>gisith</p>
                                        </td>
                                        <td class="comp">
                                          <span>Milk</span>
                                        </td>
                                        <td class="comp">
                                          <span>Active</span>
                                        </td>
                                        <!-- <td class="comp"> 
                                          <p>60%</p>
                                        </td>-->
                                        <td class="align-middle">
                                          <!-- <button class="btn btn-link text-secondary mb-0">
                                            <i class="fa fa-ellipsis-v text-xs"></i>
                                          </button> -->
                                          <button class="dlt"> Delete Business </button>

                                        </td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
              
            </div>
        </div>
        <script src="userDashboard.js"></script>

        



        
    </body>

    </html>



    