<%- include("../views/partials/header.ejs") %>
<link rel="stylesheet" href="../public/css/dashboard.css">
<title>Dashboard</title>
</head>

<body>



    <div class="main-container">
       
      <div class="side-bar" >
        <div class="navbar" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li class="nav-item-logo">
              <a class="nav-link " href="/userDashboard/myQueues">
                <img src="../public/images/logo-whitebg.png" width="185"  >
                
              </a>
              
            
          </li>
          <br>
            </li>
            <!-- <li class="nav-item active-nav-item">
              <a class="nav-link " href="/userDashboard/myQueues">
                
                <span class="">My Business</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link  " href="/userDashboard/profile">
                
                <span class="">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/userDashboard/settings">
                
                <span class="">Settings</span>
              </a>
            </li> -->
            
            
          </ul>
          </div>
    </div>
    <div class="secondary-container">
        <div class="top-bar">
          <div class="top-bar-right">
            <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
            <p class="text-username">gg</p>
          </div>
          <div class="top-bar-left">
            <h4>My Business</h4>
          </div>
        </div>
        
        
    <!--table section--> 
   
    
    <script src="../public/js/businessDashboard.js"></script>

    <form id="createQueue"action="/" method="post">
        <div class="short-fields">
            <div class="form-field short">
                <input type="text" name="fName" placeholder="none" required >
                <label for="fName">Queue Name</label>
            </div>
            <div class="form-field short">
                <input type="text" name="lName" placeholder="none">
                <label for="lName">Queue Type</label>
            </div>

            <div class="form-field short">
            <input type="email" name="email" placeholder="none" required>
            <label for="email">Max Token</label>
            </div>
        </div>
        
    
        <div class="form-field button">
            <button name="signUp"type="submit">Sign Up</button>
        </div>
    </form>


</body>

</html>