<%- include("../views/partials/header.ejs") %>
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Document</title>
</head>

<body>
 <div class="container">
        <a href="/user-sign-up"><div class="registration-type">Register as an user</div></a>
        <a href="/business-sign-up"><div class="registration-type">Register as a business</div></a>
        <a href="/user-sign-in"><div class="registration-type">Login</div></a>
    </div>   

</body>

</html>