<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/signup.css">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="img-container">
            <div class="heading-container">
                <h2>Easy, Secure <br>and easy to use</h2>
                <p>Create your account right now and start <br> queuing online from anywhere</p>
            </div>
            <img src="/public/images/signup-bg.png" alt="">
        </div>
        
            <div class="form">
                <form action="" method="post">
                    <div class="short-fields">
                        <div class="form-field short">
                            <input type="text" name="fName" placeholder="none">
                            <label for="fName">First Name</label>
                        </div>
                        <div class="form-field short">
                            <input type="text" name="lName" placeholder="none">
                            <label for="lName">Last Name</label>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="text" name="email" placeholder="none">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-field">
                        <input type="text" name="nic" placeholder="none">
                        <label for="nic">NIC No</label>
                    </div>
                    <div class="form-field">
                        <input type="text" name="address" placeholder="none">
                        <label for="address">Address</label>
                    </div>
                    <div class="short-fields">
                        <div class="form-field short">
                            <input type="text" name="zipCode" placeholder="none">
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="form-field short">
                            <input type="text" name="telNo" placeholder="none">
                            <label for="telNo">Tel No</label>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="text" name="username" placeholder="none">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-field">
                        <input type="text" name="password" placeholder="none">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-field button">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        
    </div>
</body>

</html>