<%- include("../views/partials/header.ejs") %>
<link rel="stylesheet" href="/public/css/dashboard.css">
<title>Dashboard</title>
</head>

<body>

<div class="main-container">

  <div class="side-bar ">

    <div class="navbar " id="sidenav-collapse-main">

      <ul class="navbar-nav">
        <li class="nav-item-logo">
          <a class="nav-link " href="/userDashboard">
            <img src="../public/images/logo-whitebg.png" width="185">

          </a>


        </li>
        <br>
        <li class="nav-item">
          <a class="nav-link " href="/userDashboard">
            
            <span class="">Back</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="secondary-container">
      <div class="top-bar">
    
        <div class="top-bar-right">
            <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
            <p class="text-username">gg</p>
        </div>
        <div class="top-bar-left">
            <h3>Queue Details</h3>
        </div>
      </div>
    
      <div class="table-card-header">
        <h3 class="">Queue Details</h3>
      </div>
      <div style="display: flex; flex-direction: column">
        <div class="card">
          <div class="block blue">
            <div class="heading">Queue Name</div>
            <div class="num">ABC</div>
          </div>
    
          <div class="block green">
            <div class="heading">On Going Token</div>
            <div class="num">22</div>
          </div>
    
          <div class="block maroon">
            <div class="heading">Max Token</div>
            <div class="num">100</div>
          </div>
        </div>
      <div class="card">
        <button class="adt"> Admit </button>
      </div>
    </div>
  </div> 
  
</div>




  </div>

</div>


<script src="../public/js/userDashboard.js"></script>






</body>

</html>