   
    <%-include("./partials/header.ejs")%>  
   
    <link rel="stylesheet" href="../public/css/dashboard.css">
    <title>Dashboard</title>
    </head>
   
    <body>
   
        <div class="main-container">
           
            <div class="side-bar " >
   
                <div class="navbar " id="sidenav-collapse-main">
                  
                  <ul class="navbar-nav">
                    <li class="nav-item-logo">
                  <a class="nav-link " href="/userDashboard">
                    <img src="../public/images/logo-whitebg.png" width="185"  >
                    
                  </a>
                  
                
              </li>
                    <br>
                    <li class="nav-item ">
                      <a class="nav-link " href="/userDashboard">
                        
                        <span class="">My Queues</span>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="/userDashboard/findQueues">
                        
                        <span class="">Find Queues</span>
                      </a>
                    </li>
                    <li class="nav-item active-nav-item">
                      <a class="nav-link  " href="/userDashboard/profile">
                        
                        <span class="">Profile</span>
                      </a>
                    </li>                
                    
                  </ul>
                  </div>
            </div>
            <div class="secondary-container">
                <div class="top-bar">
                
                <div class="top-bar-right">
                  <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
                  <p class="text-username">gg</p>
                </div>
                <div class="top-bar-left">
                  <h4>Somapala Pvt Ltd</h4>
                </div>
            
              
            </div>
                        <div class="table-area">
   
                        <div class="table_cont">
                            <div class="plist">
                              <div class="profileh">
                                <div class="list">ID</div>
                                <div class="list1">0001</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Type</div>
                                <div class="list1">Retail</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">First Name</div>
                                <div class="list1">Gisith</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Last Name</div>
                                <div class="list1">Boss</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">E-mail</div>
                                <div class="list1">gisith@gmail.com</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">NIC</div>
                                <div class="list1">254361683V</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Address</div>
                                <div class="list1">Piliyandala</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Zipcode</div>
                                 <div class="list1">10300</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Telephone No:</div>
                                <div class="list1">0713645236</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Username</div>
                                <div class="list1">gg</div>
                              </div>
   
                              <div class="profileh">
                                <div class="list">Password</div>
                                <div class="list1">gisith</div>
                              </div>
                            </div>
                            <div class="btn-container">
                              <button class="edtbtn">Edit</button>
                            </div>
                          </div>
                            
              
                      </div>
              </div>
        <script src="userDashboard.js"></script>
   
        
   
   
   
        
    </body>
   
    </html>