a{
    text-decoration: none;
    
}
ul li{
    list-style-type: none;
}
.main-container{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 100%;
    padding: 1%;
    gap: 20px;
}

.secondary-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    
}

.side-bar{
    /* background-color: white; */
    background-color: #3366ff;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 250px;
    border-radius: 8px;

} 

.navbar{
    display: flex;
    flex-direction: column;
    
    
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}
.nav-item{
    height: 40px;
    background-color: #3366ff;
    /* background-color: white; */
    /* color: #3366ff; */
    color: white;
    border-radius: 4px;
}
.nav-item:hover{
    background-color: whitesmoke;
  
}
.active-nav-item{
    background-color: white;
    /* background-color: #3366ff; */
}
.active-nav-item:hover{
    /* background-color: #3366ff; */
    background-color: white;
    
}
.nav-link{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    /* color: #3366ff;   */
    color: white;
}
.nav-link:hover{
    color: #3366ff;
}
.nav-item-logo{
    object-fit: contain;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.nav-item-logo img{
    position: absolute;
    top: -35px;
}


.active-nav-item .nav-link{
    /* color: white; */
    color: #3366ff;  
}
.top-bar{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    gap: 20px;
}
.top-bar-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    gap: 10px;
}
.top-bar-left{
    display: flex;
    width: 100%;
    margin-left: 10px;
}

button{
    outline: none;    
}
button a{
    color: white;
}
.button-signOut{
    height:60%;
    width: 100px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;

}

.search-bar{
    width: 100%;
    top: 2%;
    left: 16%;
    right: 15%; 
     
}
.search-bar-container{
    position: relative;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 40px;
    width: 40%;
    margin-left: 10px;
}
.btn-search{
    cursor: pointer;
    border: none;
}
.icon{
    color:#5f6368;
}
.search-bar input{
    width:65%;
    height: 60px;
    border-radius: 8px;
    background-color: whitesmoke;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 50px;
    top: 20%; 
    font-size: 18px;
}
.table-area{
    background-color: white;
    border-radius: 8px;
    top: 25%;
    left: 16%;
    right: 1%;

}
.table-container{
    height: 100%;
    width: 100%;
}
.table-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color:#3366ff;
    color: white;
    border-radius: 4px;
}
.table{
    width: 100%;
    text-align: left;
    padding: 0 10px 0 10px;
}
.table-header{
    height: 50px;
    width: 100px;
}
.row{
    height: 40px;
    
}
tbody tr:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.hide{
    display: none;
}
.dlt{
    width: 100%;
    height: 25px;
    background-color: white;
    color: #3366ff;
    border: 2px solid #3366ff;
    border-radius: 5px;
    margin-left: 10px;
    
    
  }

  .bedit{
    width: 100%;
    height: 25px;
    background-color:white;
    color:#3366ff;
    border: 2px solid #3366ff;
    border-radius: 5px;
    margin-right: 10px;
  }
  .edt{
    width: 100%;
    height: 25px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 5px;
    
  }

.middle{
    display: flex;   
}

.search-bar{
    width: 100%;
    top: 2%;
    left: 16%;
    right: 15%; 
     
}
.search-bar-container{
    position: relative;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 40px;
    width: 40%;
    margin-left: 10px;
}
.btn-search{
    cursor: pointer;
    border: none;
}

.search-bar input{
    width:65%;
    height: 60px;
    border-radius: 8px;
    background-color: whitesmoke;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 50px;
    top: 20%; 
    font-size: 18px;
}
.comp{
    text-align: center;
}
.profileh{
    float: left;
     display: flex;
     gap: 10px;
     align-items: center;
     box-shadow: 2px 2px 3px #9c9c9c2e;
     border-radius: 0.5rem;
     margin-bottom: 20px;
    
   }
 
   /* .profiled{
     float: left;
     width: 70%;
 
   } */
.plist{
     display: flex;
     flex-direction: column;
 
   }
   .list{
     /* margin-bottom: 5px; */
     padding: 12px;
     width: 130px;
     display: flex;
     justify-content: flex-start;
     flex-wrap: nowrap;
     flex-direction: column-reverse;
    justify-content: center;
     
 
   }
   .list1{
     /*margin-bottom: 10px;*/
     width: 380px;
     padding: 14px;
     display: flex;
     justify-content: flex-start;
   }
 
   .edtbtn{
     width: 100px;
     height: 35px;
     background-color: white;
     color: #3366ff;
     border: 2px solid #3366ff;
     border-radius: 5px;
     cursor: pointer;
 }

 .edtbtn:hover{
    background-color: #3366ff;
    color:white;
 }

 .btn-container{
     display: flex;
     width: 562px;
     justify-content: right;
     
 }
 
 .table_cont{
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 100%;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .short-field1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.short-field2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.frm-cont{
    display: flex;
    justify-content: center;
}

.button-create{
    height:100%; 
    width: 100px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;

}

.nav-link:hover{
    color: #3366ff;
}

.btnflex{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.button-create1{
    height:100%; 
    width: 100px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}
.button-open{
    height:100%; 
    width: 100px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-right: 10px;

}
.main-container{
   background-image: url("/public/images/bg300_20.png");
   background-repeat: no-repeat;
   background-size: cover;
}