*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.form-field{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    width: 216px;
    height: 2em;
    min-width: 0;
    margin-bottom: 2em;
}
.form-field input{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 0.8em;
    border: 0.5px #dadce0 solid;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.form-field input::placeholder{
    opacity: 0;
    color: #5f6368;
}
.form-field label{
    position: absolute;
    top: 0.8em;
    left: 0.9em;
    cursor: text;
    pointer-events:none;
    transition: all 0.2s ease-in-out;
    color: #5f6368;
    font-size: 0.8em;
}

.short{
    width: 103px;
}

.short-fields{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input:focus {    
    border:2px solid #3366ff;   
}
input:focus+label{
    transform: translateY(-1.25em);
    background-color: white;
    color: hsl(225, 100%, 60%);
    font-size: 0.7em; 
      
}
input:not(:placeholder-shown)+label{
    transform: translateY(-1.25em);
    background-color: white;
    font-size: 0.7em;
}
.button{
    border-radius: 0.3em;
    background-color: #3366ff;
}
.form-field button{ 
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    color: white;
}

@media screen and (max-width: 480px) {
    
    .short-fields{
        flex-direction: column;
        gap: 0;
    }
    .short{
        width: 216px;
    }
 }
